In [1]:
print("ani")

ani

In [13]:
num = int(input("Enter the num: "))

for i in range(num+1):
    for j in range(0,i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [7]:
num = int(input("Enter the num: "))

for i in range(1, num+1):
    for j in range(1,i+1):
        print(j, end="")
    for k in range(i-1, 0, -1):
        print(k, end= "")
    print()

1
121
12321
1234321
123454321

In [10]:
lower = int(input("Enter the lower ranger: "))
upper = int(input("Enter the upper ranger: "))

for i in range(lower, upper+1):
    for j in range(2, i):
        if i%j == 0:
            break
    else:
        print(i)

1
2
3
5
7
11
13
17
19

In [12]:
for i in range(1,10):
    if i ==5:
        continue
    print(i)


# continue will skip the current iteration

1
2
3
4
6
7
8
9

# Strings

In [15]:
s1 = 'ani'
s2 = "ani"
s3 = """ani"""
s4= str('ani')

print(s1)
print(s2)
print(s3)
print(s4)

ani
ani
ani
ani

In [16]:
str1 = 'my name is anu'

# positive index
print(str1[0])

# negative index
print(str1[-1])

m
u

In [20]:
# slicing

str2 = 'my name is ani'

print(str2[0:7])
print(str2[0:7:2])
print(str2[::-1])

# when you are using teh negative indexing, 1st num will always greater then 2nd, i.e ex. [6:1:-1], [-1,-6:-1]

my name
m ae
ina si eman ym

In [ ]:
# string are immutable , they are not editable

str1 = "my name is anu"
del str1
print(str1)

# it will through error bcz str1 is already deleted

NameError: name 'str1' is not defined

In [23]:
s1 = 'aniket is smart'
del s1[-1:-5:2]
print(s1)

# it will through error bcz you are trying to edit string which is not allowed in python

TypeError: 'str' object does not support item deletion

In [25]:
# operators

print('ani'+ 'andhale')
print('ani' + ' ' + 'andhale')

# python only supports the two operators

aniandhale
ani andhale

In [27]:
print("*"*10)

**********

In [28]:
'ani' > 'anu'

# it compare the ASCII value, not the num of char

False

In [ ]:
# if in quotes there is value means they are True, and if there is not value (empty string, i.e. " ") means it is False 
# and it applies the and, or rules

In [29]:
 ' ' and ' '

' '

In [30]:
'ani' and 'ani'

'ani'

In [31]:
' ' and 'ani'

'ani'

In [32]:
'ani' and ' '

' '

In [33]:
' ' or  ' '

' '

In [34]:
for i in 'aniket':
    print(i)

a
n
i
k
e
t

In [37]:
# function

s1 = 'aniket'

print(len(s1))
print(max(s1))
print(min(s1))

6
t
a

In [40]:
s1 = "aniket"
print(sorted(s1, reverse=True))

['t', 'n', 'k', 'i', 'e', 'a']

In [41]:
print(sorted(s1))

['a', 'e', 'i', 'k', 'n', 't']

In [42]:
s2 = 'my name is anu'

s2.capitalize()

'My name is anu'

In [48]:
s2.title()

'My Name Is Anu'

In [49]:
s2.upper()

'MY NAME IS ANU'

In [50]:
s2.lower()

'my name is anu'

In [51]:
'ani'.swapcase()

'ANI'

In [52]:
'ANI'.swapcase()

'ani'

In [53]:
'aniket is my name'.count('a')

# it will show the count of character occurence

2

In [54]:
' my name is ani'.find('is')

# shows index

9

In [55]:
'aniket'.startswith('a')

# tell is it actaully staring with "a" character so it returned true

True

In [56]:
'aniket'.endswith('a')

# here it is not ending with 'a', so it returned false

False

In [60]:
name= 'ani'
age= 21

'my name is is {} and my age is {}'.format(name,age)

'my name is is ani and my age is 21'

In [62]:
first_name = str(input("Enter the first name: "))
last_name = str(input("Enter the last name: "))

'{first_name}{last_name}@gmail.com'.format(first_name= first_name, last_name= last_name)

'aniandhale@gmail.com'

In [63]:
'ani'.isalpha()

True

In [65]:
'aniekt12'.isalnum()

True

In [66]:
'123ani'.isdigit()

False

In [67]:
'123'.isdigit()

True

In [68]:
#spilt

'aniket is my name'.split()

['aniket', 'is', 'my', 'name']

In [72]:
'aniket is my name'.split(i)

# it breck teh string and make teh list

['anike', ' is my name']

In [73]:
' '.join(['aniket', 'is', 'my', 'name'])

# it joins the list

'aniket is my name'

In [74]:
'my name is aniket'.replace('aniket', 'ani')

'my name is ani'

In [ ]:
# strip()

In [75]:
'aniket          '.strip()

# it will remove the unwnawtd extra spaces

'aniket'

# questions

In [87]:
# Find the length of a given string without using the len() function

str1 = 'aniket'

count = 0 
for i in str1:
    count = count+1
print(count)

6

In [89]:
# Extract username from a given email. 
# Eg if the email is nitish24singh@gmail.com 
# then the username should be nitish24singh

mailID = 'aniketandhale@gmail.com'

position = mailID.index('@')
print(mailID[0:position])

aniketandhale

In [95]:
# Count the frequency of a particular character in a provided string. 
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.


str1 = "aniket is my name"

counter = 0
for i in str1:
    if i == 'i':
        counter=counter+1
print(counter)

2

In [97]:
# Write a program which can remove a particular character from a string.
s1 = "my name is anikte"
remove = 'a'
final = ''

for i in s1:
    if i !=remove:
        final = final+i
print(final)

my nme is nikte

In [115]:
# Write a program that can check whether a given string is palindrome or not.
# aniket
# anna  --> this is palindrom

s2 = 'anna'
#s2 = 'aniket'

for i in s2:
    if s2[0:] == s2[::-1]:
        print("palindrome")
        break
else:
    print("Not palindrome")

palindrome

In [116]:
a=input()
if a==a[::-1]:
    print('its a palindrome')
else:
    print('not a palindrome')

its a palindrome

In [131]:
# Write a program to count the number of words in a string without split()

str1 = "my name is an aniket"

count = 1
for char in str1:
    if char == ' ':
        count+=1
print(count)

5

In [137]:
# with spilt()

str1 = 'aniket is smart'
l1 = str1.split()
len(l1)

3

In [146]:
# Write a python program to convert a string to title case without using the title()

str1 = "my name is aniket"
l1 = []
for i in str1.split():
    l1.append(i[0].upper() + i[1:].lower())
print(' '.join(l1))

My Name Is Aniket

In [167]:
# Write a program that can convert an integer to string.

num = 1234
string_num = str(num)
print("The integer as a string is:", string_num)

The integer as a string is: 1234

In [168]:
num = 1234
string_num = ''

for digit in str(num):  
    string_num += digit

print("The integer as a string is:", string_num)

The integer as a string is: 1234