### Basics

This notebooks contains following things:
1. Data types
2. Built in functions
3. Variables
4. Casting
5. Operators

**Definition of Python**  
Python is a high-level, interpreted programming language used to write instructions that a computer can understand and execute.

**How Python code is executed in an IDE**
1. You write Python code in an IDE (VS Code, PyCharm, Jupyter, etc.).
2. The IDE sends your code to the Python interpreter.
3. The interpreter reads the code line by line.
4. Each line is converted into machine-level instructions.
5. The CPU executes those instructions.
6. Output is shown on the screen.

IDE itself does nothing magical. It’s just a tool to write and run code.

**What is an Interpreter**  
An interpreter is a program that reads source code line by line and executes it immediately.

1. No full program compilation first
2. Errors stop execution at the line where they occur
3. Execution is step-by-step

**Communicates with the machine**
1. You write Python code (human-readable).
2. Python interpreter converts it into bytecode.
3. Bytecode is executed by the Python Virtual Machine (PVM).
4. PVM talks to the CPU and OS.
5. Machine executes the instructions.

### Data Types in Python

Data types define the type of value a variable holds and how the data is stored in memory.

**int**  
Represents whole numbers without decimal points.

In [18]:
print(type(10))                  # Int

<class 'int'>

**float**  
Represents numbers with decimal points.

In [19]:
print(type(3.14))                # Float

<class 'float'>

**complex**  
Represents numbers with a real and an imaginary part.

In [20]:
print(type(1 + 3j))              # Complex

<class 'complex'>

**string (str)**  
Represents a sequence of characters enclosed in quotes.

In [21]:
print(type('anu'))          # String

<class 'str'>

**list**  
A mutable collection of ordered elements.

In [22]:
print(type([1, 2, 3]))           # List

<class 'list'>

**dictionary (dict)**  
Stores data in key–value pairs.

In [23]:
print(type({'name':'anu'})) # Dictionary

<class 'dict'>

**set**  
An unordered collection of unique elements.

In [24]:
print(type({9.8, 3.14, 2.7}))    # Set

<class 'set'>

**tuple**  
An immutable collection of ordered elements.

In [25]:
print(type((9.8, 3.14, 2.7)))    # Tuple

<class 'tuple'>

**bool**  
Represents truth values: True or False.

In [26]:
print(type(3 == 3))              # Bool

<class 'bool'>

### Built-in Functions in Python

Built-in functions are predefined functions provided by Python that can be used directly without importing any module.

**print()**  
Displays output or values on the screen.

In [27]:
print("Hello Python")

Hello Python

**type()**  
Returns the data type of a given value or variable.

In [28]:
type(10)

int

**input()**  
Takes input from the user as a string.

In [29]:
name = input("Enter your name: ")

**len()**  
Returns the number of items in a collection like string, list, tuple, or set.

In [30]:
len("Python")

6

**int()**  
Converts a value into an integer type.

In [31]:
int("10")

10

**float()**  
Converts a value into a floating-point number.

In [32]:
float("3.14")

3.14

**str()**  
Converts a value into a string.

In [33]:
str(100)

'100'

**bool()**  
Converts a value into a boolean (True or False).

In [34]:
bool(1)

True

**range()**  
Generates a sequence of numbers commonly used in loops.

In [35]:
list(range(1, 5))

[1, 2, 3, 4]

**sum()**  
Returns the sum of all items in an iterable.

In [36]:
sum([1, 2, 3, 4])

10

**max()**  
Returns the largest value from an iterable.

In [37]:
max([10, 20, 30])

30

**min()**  
Returns the smallest value from an iterable.

In [38]:
min([10, 20, 30])

10

**abs()**  
Returns the absolute (positive) value of a number.

In [39]:
abs(-25)

25

**round()**  
Rounds a number to the nearest integer or specified decimal places.

In [40]:
round(3.6)

4

### Variables in Python 
A variable is a name that is used to store data in memory.

**How Variables Work**  
When a value is assigned to a variable, Python stores the value in memory and the variable acts as a reference to that value.

**Variable Assignment**  
Variables are created when a value is assigned to them using the assignment operator (=).

**Dynamic Typing**  
Python is dynamically typed, which means a variable can change its data type during execution.

**Multiple Variable Assignment**  
Python allows assigning multiple variables in a single line.

**Reassigning Variables**  
The value of a variable can be changed by assigning a new value to it.

**Rules for Naming Variables**
- Variable names must start with a letter or underscore
- Variable names cannot start with a number
- Variable names can contain letters, numbers, and underscores
- Variable names are case-sensitive
- Python keywords cannot be used as variable names

**Good Practice**  
Use meaningful and readable variable names to improve code clarity.

In [65]:
# variable assignment
x = 10
y = 3.5
name = "Aniket"

print(x)
print(y)
print(name)

10
3.5
Aniket

In [66]:
# dynamic typing
x = 20
x = "Python"
print(x)

Python

In [67]:
# multiple variable assignment
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

In [68]:
# same value to multiple variables
p = q = r = 100
print(p, q, r)

100 100 100

In [69]:
# reassigning variables
count = 5
count = count + 1
print(count)

6

In [78]:
# variable naming rules examples
_valid_name = 10
name2 = "Data"
_name = "Python"

print(_valid_name)
print(name2)
print(_name)

10
Data
Python

In [79]:
# case sensitivity
value = 10
Value = 20
print(value)
print(Value)

10
20

### Casting 

**Type Casting in Python**  
Type casting is the process of converting one data type into another data type.

**Why Type Casting Is Needed**  
Type casting is used when we want to perform operations between different data types or when user input needs to be converted into a required type.

**Implicit Type Casting**  
Implicit type casting is done automatically by Python without user intervention when converting smaller data types to larger data types.

**Explicit Type Casting**  
Explicit type casting is done manually by the programmer using built-in functions to convert data types.

**Common Type Casting Functions**
- int() converts a value into an integer
- float() converts a value into a float
- str() converts a value into a string
- bool() converts a value into a boolean

**Important Point**  
Input taken using input() is always of type string and must be type casted before performing numerical operations.

In [80]:
# int to float
num_int = 10
print('num_int:', num_int)          # 10
num_float = float(num_int)
print('num_float:', num_float)      # 10.0

num_int: 10
num_float: 10.0

In [81]:
# float to int
gravity = 9.81
print(int(gravity))                 # 9

9

In [82]:
# int to str
num_int = 10
print(num_int)                      # 10
num_str = str(num_int)
print(num_str)                      # '10'

10
10

In [83]:
# str to int or float
num_str = '10.6'
num_float = float(num_str)
print('num_float:', num_float)      # 10.6
num_int = int(num_float)
print('num_int:', num_int)          # 10

num_float: 10.6
num_int: 10

In [89]:
# str to list
first_name = 'anu'
print(first_name)                   # 'anu'
first_name_to_list = list(first_name)
print(first_name_to_list)           # ['a', 'n', 'u']

anu
['a', 'n', 'u']

### Operators in Python  
Operators are symbols used to perform operations on variables and values.

**Arithmetic Operators**  
Arithmetic operators are used to perform mathematical calculations.

Examples: +, -, *, /, %, **, //

In [1]:
# Arithmetic Operators
print(10 + 3)
print(10 - 3)
print(10 * 3)
print(10 / 3)
print(10 % 3)
print(10 ** 3)
print(10 // 3)

13
7
30
3.3333333333333335
1
1000
3

**Assignment Operators**  
Assignment operators are used to assign values to variables.

Examples: =, +=, -=, *=, /=

In [91]:
# Assignment Operators
x = 10
x += 5
print(x)
x -= 3
print(x)
x *= 2
print(x)
x /= 4
print(x)

15
12
24
6.0

**Comparison Operators**  
Assignment operators are used to assign values to variables.


Examples: ==, !=, >, <, >=, <=

In [92]:
# Comparison Operators
print(10 == 5)
print(10 != 5)
print(10 > 5)
print(10 < 5)
print(10 >= 10)
print(10 <= 9)

False
True
True
False
True
False

**Logical Operators**  
Logical operators are used to combine conditional statements.

Examples: and, or, not

In [93]:
# Logical Operators
print(True and False)
print(True or False)
print(not True)

False
True
False

**Bitwise Operators**  
Bitwise operators perform operations on binary numbers.

Examples: &, |, ^, ~, <<, >>

In [94]:
# Bitwise Operators
print(5 & 3)
print(5 | 3)
print(5 ^ 3)
print(~5)
print(5 << 1)
print(5 >> 1)

1
7
6
-6
10
2

**Membership Operators**  
Membership operators are used to test whether a value exists in a sequence.

Examples: in, not in

In [95]:
# Membership Operators
nums = [1, 2, 3, 4]
print(3 in nums)
print(5 not in nums)

True
True

**Identity Operators**  
Identity operators are used to compare memory locations of two objects.

Examples: is, is not

In [96]:
# Identity Operators
a = 10
b = 10
c = [1, 2, 3]
d = [1, 2, 3]
print(a is b)
print(c is d)
print(c is not d)

True
False
True