### Dictionaries
A dictionary is a collection of unordered, modifiable(mutable) paired (key: value) data type.

### Creating a Dictionary
To create a dictionary we use curly brackets, {} or the dict() built-in function.

``` python
# syntax
empty_dict = {}
# Dictionary with data values
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}

In [42]:
# Example
person = {
    'first_name':'anu',
    'last_name':'andy',
    'age':25,
    'country':'India',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
    }

In [43]:
import json
print(json.dumps(person, indent=4))

{
    "first_name": "anu",
    "last_name": "andy",
    "age": 25,
    "country": "India",
    "is_marred": true,
    "skills": [
        "JavaScript",
        "React",
        "Node",
        "MongoDB",
        "Python"
    ],
    "address": {
        "street": "Space street",
        "zipcode": "02210"
    }
}

The dictionary above shows that a value could be any data types: string, boolean, list, tuple, set or a dictionary.

### Dictionary Length
It checks the number of 'key: value' pairs in the dictionary.

``` python
# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
print(len(dct)) # 4

In [21]:
# Example
person = {
    'first_name':'anu',
    'last_name':'andy',
    'age':25,
    'country':'India',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
    }

print(len(person))

7

### Accessing Dictionary Items
We can access Dictionary items by referring to its key name.
``` python
# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
print(dct['key1']) # value1
print(dct['key4']) # value4

In [24]:
# Example
person = {
    'first_name':'anu',
    'last_name':'andy',
    'age':25,
    'country':'India',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
    }
print(person['first_name']) 
print(person['country'])    
print(person['skills'])     # ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
print(person['skills'][0])  # JavaScript
print(person['address']['street']) # Space street
print(person['city'])       # Error

anu
India
['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
JavaScript
Space street

KeyError: 'city'

Accessing an item by key name raises an error if the key does not exist. To avoid this error first we have to check if a key exist or we can use the get method. 

The get method returns None, which is a NoneType object data type, if the key does not exist.

In [ ]:
person = {
    'first_name':'anu',
    'last_name':'andy',
    'age':25,
    'country':'India',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
    }
print(person.get('first_name')) 
print(person.get('country'))   
print(person.get('skills')) #['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
print(person.get('city'))   # None

anu
India
['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
None

- get() â€“ Safe value access

    ```python
    # problem
    student['phone']   # KeyError if key not present

    # solution
    student.get('phone')          # returns None
    student.get('phone', 0)       # returns default value

- Looping through dictionary

    ``` python
    # Loop keys
    for key in student:
        print(key)

    # Loop values
    for value in student.values():
        print(value)

    # Loop key and value
    for key, value in student.items():
        print(key, value)

### Adding Items to a Dictionary
We can add new key and value pairs to a dictionary
``` python
# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
dct['key5'] = 'value5'

In [33]:
# Example
person = {
    'first_name':'anu',
    'last_name':'andy',
    'age':25,
    'country':'India',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
    }

person['job_title'] = 'Instructor'
person['skills'].append('HTML')
print(person)

{'first_name': 'anu', 'last_name': 'andy', 'age': 25, 'country': 'India', 'is_marred': True, 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python', 'HTML'], 'address': {'street': 'Space street', 'zipcode': '02210'}, 'job_title': 'Instructor'}

### Modifying Items in a Dictionary
We can modify items in a dictionary
``` python
# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
dct['key1'] = 'value-one'

In [75]:
# Example
person = {
    'first_name':'anu',
    'last_name':'andy',
    'age':25,
    'country':'India',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
    }
person['first_name'] = 'Eyob'
person['age'] = 252

### Checking Keys in a Dictionary
We use the in operator to check if a key exist in a dictionary

```python
# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
print('key2' in dct) # True
print('key5' in dct) # False
```

#### Removing Key and Value Pairs from a Dictionary
- pop(key): removes the item with the specified key name:
- popitem(): removes the last item
- del: removes an item with specified key name

``` python
# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
dct.pop('key1') # removes key1 item
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
dct.popitem() # removes the last item
del dct['key2'] # removes key2 item

delete will not return anything , but pop does.

In [124]:
# Example
person = {
    'first_name':'anu',
    'last_name':'andy',
    'age':25,
    'country':'India',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
    }

In [125]:
person.pop('first_name')       # Removes the firstname item

'anu'

In [126]:
person.popitem()                # Removes the address item (Last inserted data)

('address', {'street': 'Space street', 'zipcode': '02210'})

In [127]:
person['is_married'] = 'Yes'    # add new key value

In [128]:
del person['is_married']        # Removes the is_married item

In [129]:
import json
print(json.dumps(person, indent=4))

{
    "last_name": "andy",
    "age": 25,
    "country": "India",
    "is_marred": true,
    "skills": [
        "JavaScript",
        "React",
        "Node",
        "MongoDB",
        "Python"
    ]
}

#### Changing Dictionary to a List of Items
The items() method changes dictionary to a list of tuples.
``` python
# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
print(dct.items()) # dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3'), ('key4', 'value4')])

#### Clearing a Dictionary
If we don't want the items in a dictionary we can clear them using clear() method
``` python
# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
print(dct.clear()) # None

#### Deleting a Dictionary
If we do not use the dictionary we can delete it completely
``` python
# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
del dct

#### Copy a Dictionary
We can copy a dictionary using a copy() method. Using copy we can avoid mutation of the original dictionary.
```python
# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
dct_copy = dct.copy() # {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}

#### Getting Dictionary Keys as a List
The keys() method gives us all the keys of a a dictionary as a list.
```python
# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
keys = dct.keys()
print(keys)     # dict_keys(['key1', 'key2', 'key3', 'key4'])

#### Getting Dictionary Values as a List
The values method gives us all the values of a a dictionary as a list.
```python
# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
values = dct.values()
print(values)     # dict_values(['value1', 'value2', 'value3', 'value4'])

#### Dictionary Comprehension

In [6]:
labour_with_cost = {"Mahesh": 500, "Ramesh": 400, "Mithilesh":400,"Sumesh": 300, "Jagmohan": 1000, "Rampyare":800}

new_dic = {key:labour_with_cost.get(key)+100 for key in labour_with_cost}
print(new_dic)

{'Mahesh': 600, 'Ramesh': 500, 'Mithilesh': 500, 'Sumesh': 400, 'Jagmohan': 1100, 'Rampyare': 900}

### Exercises

1. Total labour cost if total working days was 50
out of which Mahesh was absent for 3 days and Jagmohan was absent for 7 days
find out the total labour cost?

In [4]:
from loguru import logger
labour_with_cost = {"Mahesh": 500, "Ramesh": 400, "Mithilesh":400,"Sumesh": 300, "Jagmohan": 1000, "Rampyare":800}

In [5]:
working_days = 50
absent_days = {"Mahesh": 3, "Jagmohan": 7}

total_cost = 0

for name, cost in labour_with_cost.items():
    days_worked = working_days - absent_days.get(name, 0)   
    total_cost = total_cost + days_worked * cost

print(total_cost)

161500

2. Create an empty dictionary called dog

In [ ]:
dog = {}

3. Add name, color, breed, legs, age to the dog dictionary

In [13]:
dog = {}
dog.update({'name': 'tommy', 'color': 'black', 'breed': 'labrador', 'legs': 4, 'age': 8})
print(dog)

{'name': 'tommy', 'color': 'black', 'breed': 'labrador', 'legs': 4, 'age': 8}

4. Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary

In [15]:
student = {
    'first_name': 'anu',
    'last_name': 'andy',
    'gender': 'male',
    'age': 23,
    'marital_status': 'single',
    'skills': ['Python', 'SQL', 'cloud'],
    'country': 'India',
    'city': 'Pune',
    'address': {'Area':'Baner', 'Pin': 1234560}
}

import json
print(json.dumps(student, indent= 4))

{
    "first_name": "anu",
    "last_name": "andy",
    "gender": "male",
    "age": 23,
    "marital_status": "single",
    "skills": [
        "Python",
        "SQL",
        "cloud"
    ],
    "country": "India",
    "city": "Pune",
    "address": {
        "Area": "Baner",
        "Pin": 1234560
    }
}

5. Get the length of the student dictionary

In [16]:
print(len(student))

9

6. Get the value of skills and check the data type, it should be a list

In [ ]:
print(student['skills'])
print(type(student['skills']))

['Python', 'SQL', 'cloud']
<class 'list'>

7. Modify the skills values by adding one or two skills

In [ ]:
student['skills'].append('Data analysis')
student['skills'].append('ETL Development')
print(student)

{'first_name': 'anu', 'last_name': 'andy', 'gender': 'male', 'age': 23, 'marital_status': 'single', 'skills': ['Python', 'SQL', 'cloud', 'Data analysis', 'ETL Development'], 'country': 'India', 'city': 'Pune', 'address': {'Area': 'Baner', 'Pin': 1234560}}

In [22]:
# we can use extend here
student['skills'].extend(['Data modelling', 'API Development'])
print(student)

{'first_name': 'anu', 'last_name': 'andy', 'gender': 'male', 'age': 23, 'marital_status': 'single', 'skills': ['Python', 'SQL', 'cloud', 'Data analysis', 'ETL Development', 'Data modelling', 'API Development'], 'country': 'India', 'city': 'Pune', 'address': {'Area': 'Baner', 'Pin': 1234560}}

8. Get the dictionary keys as a list

In [25]:
student = {
    'first_name': 'anu',
    'last_name': 'andy',
    'gender': 'male',
    'age': 23,
    'marital_status': 'single',
    'skills': ['Python', 'SQL', 'cloud'],
    'country': 'India',
    'city': 'Pune',
    'address': {'Area':'Baner', 'Pin': 1234560}
}

print(list(student.keys()))

['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']

9. Get the dictionary values as a list

In [26]:
print(list(student.values()))

['anu', 'andy', 'male', 23, 'single', ['Python', 'SQL', 'cloud'], 'India', 'Pune', {'Area': 'Baner', 'Pin': 1234560}]

10. Change the dictionary to a list of tuples using items() method

In [29]:
student = {
    'first_name': 'anu',
    'last_name': 'andy',
    'gender': 'male',
    'age': 23,
    'marital_status': 'single',
    'skills': ['Python', 'SQL', 'cloud'],
    'country': 'India',
    'city': 'Pune',
    'address': {'Area':'Baner', 'Pin': 1234560}
}

print(list(student.items()))

[('first_name', 'anu'), ('last_name', 'andy'), ('gender', 'male'), ('age', 23), ('marital_status', 'single'), ('skills', ['Python', 'SQL', 'cloud']), ('country', 'India'), ('city', 'Pune'), ('address', {'Area': 'Baner', 'Pin': 1234560})]

11. Delete one of the items in the dictionary

In [35]:
student = {
    'first_name': 'anu',
    'last_name': 'andy',
    'gender': 'male',
    'age': 23,
    'marital_status': 'single',
    'skills': ['Python', 'SQL', 'cloud'],
    'country': 'India',
    'city': 'Pune',
    'address': {'Area':'Baner', 'Pin': 1234560}
}

del student['gender']
print(student)

{'first_name': 'anu', 'last_name': 'andy', 'age': 23, 'marital_status': 'single', 'skills': ['Python', 'SQL', 'cloud'], 'country': 'India', 'city': 'Pune', 'address': {'Area': 'Baner', 'Pin': 1234560}}

12. Delete one of the dictionaries

In [32]:
student = {
    'first_name': 'anu',
    'last_name': 'andy',
    'gender': 'male',
    'age': 23,
    'marital_status': 'single',
    'skills': ['Python', 'SQL', 'cloud'],
    'country': 'India',
    'city': 'Pune',
    'address': {'Area':'Baner', 'Pin': 1234560}
}

del student

print(student)

NameError: name 'student' is not defined

13. Create an empty dictionary book, add title, author, and price, then update the price.

In [11]:
book = {
    'title' : 'wings of fire',
    'author' : 'Dr. APJ Abdul kalam',
    'price' : 500
}

# book.update({'price': 600})
book['price'] = 1000
print(book)

{'title': 'wings of fire', 'author': 'Dr. APJ Abdul kalam', 'price': 1000}

14. Create a dictionary user. Try to print the value of email. If it does not exist, print "Email not found".

In [8]:
user = {
    'name' : 'anu andy',
    'email id' : 'anu.andy@gmail.com'
}

if 'email id' in user:
    print(user['email id'])
else:
    print("Email not found")

anu.andy@gmail.com

15. Create a dictionary employee.
If the key salary exists, update it. If not, add salary with value 30000.

In [12]:
employee = {
    'salary' : 10000
}

if 'salary' in employee:
    employee['salary'] = 20000
print(employee)

{'salary': 20000}

16. Remove the key city from a dictionary, store the removed value in a variable, and print it.

In [14]:
dct = {
    'state': 'MH',
    'city' : 'Pune'
}

remoeved_val = dct.pop('city')
print(remoeved_val)

Pune

17. Loop through a dictionary and print each key and value in the format:
key -> value

In [23]:
book = {
    'title' : 'wings of fire',
    'author' : 'Dr. APJ Abdul kalam',
    'price' : 500
}

for key, value in book.items():
    print(f"{key} -> {value}")

title -> wings of fire
author -> Dr. APJ Abdul kalam
price -> 500

18. Count the number of keys in a dictionary without using len()

In [25]:
book = {
    'title' : 'wings of fire',
    'author' : 'Dr. APJ Abdul kalam',
    'price' : 500
}

count = 0
for key in book:
    if key in book:
        count = count + 1
print(count)

3

19. A dictionary has a key skills with a list as its value.
Add two new skills and print the total number of skills without using len()

In [43]:
engineer = {
    'skills': ['c', 'c++', 'python', 'sql']
}

engineer['skills'].extend(['ETL', 'Cloud'])
print(engineer)


count = 0
for value in engineer['skills']:
    if value in engineer['skills']:
        count = count + 1
print(count)

{'skills': ['c', 'c++', 'python', 'sql', 'ETL', 'Cloud']}
6

20. Given two lists:
    ```python
    names = ['A', 'B', 'C']
    ages = [20, 21, 22]
    ```
    Create a dictionary using a loop.

In [35]:
names = ['A', 'B', 'C']
ages = [20, 21, 22]

dct = {}
for i in range(len(names)):
    dct[names[i]] = ages[i]

print(dct)

{'A': 20, 'B': 21, 'C': 22}

21. Given:
    ```python
    scores = {'math': 70, 'science': 85, 'english': 65}
    ```

    Print the subject with the highest score without using max()

In [47]:
scores = {'math': 70, 'science': 85, 'english': 65}

highest_score = 0
subject = ''

for key, value in scores.items():
    if value > highest_score:
        highest_score = value
        subject = key

print(subject)

science