### Loops

Life is full of routines. In programming we also do lots of repetitive tasks. In order to handle repetitive task programming languages use loops. Python programming language also provides the following types of two loops:

- while loop  
- for loop  

#### While Loop

We use the reserved word while to make a while loop. It is used to execute a block of statements repeatedly until a given condition is satisfied. When the condition becomes false, the lines of code after the loop will be continued to be executed.

```python
# syntax
while condition:
    code goes here

In [1]:
count = 0
while count < 5:
    print(count)
    count = count + 1

0
1
2
3
4

In the above while loop, the condition becomes false when count is 5. That is when the loop stops. If we are interested to run block of code once the condition is no longer true, we can use else.

```python
  # syntax
while condition:
    code goes here
else:
    code goes here

In [4]:
count = 0
while count < 5:
    print(count)
    count = count + 1
else:
    print(count)

0
1
2
3
4
5

The above loop condition will be false when count is 5 and the loop stops, and execution starts the else statement. As a result 5 will be printed.

#### Break and Continue - Part 1
- Break: We use break when we like to get out of or stop the loop.

``` Python
# syntax
while condition:
    code goes here
    if another_condition:
        break

In [5]:
count = 0
while count < 5:
    print(count)
    count = count + 1
    if count == 3:
        break

0
1
2

The above while loop only prints 0, 1, 2, but when it reaches 3 it stops.

- Continue: With the continue statement we can skip the current iteration, and continue with the next:

``` python
  # syntax
while condition:
    code goes here
    if another_condition:
        continue

In [6]:
count = 0
while count < 5:
    if count == 3:
        count += 1
        continue
    print(count)
    count = count + 1

0
1
2
4

The above while loop only prints 0, 1, 2 and 4 (skips 3).

#### For Loop

A for keyword is used to make a for loop, similar with other programming languages, but with some syntax differences. Loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

- Using For loop on list

``` python
# syntax
for iterator in lst:
    code goes here

In [7]:
numbers = [0, 1, 2, 3, 4, 5]
for number in numbers:
    print(number)

0
1
2
3
4
5

- Using For loop on string
```python
# syntax
for iterator in string:
    code goes here

In [9]:
language = 'Python'
for letter in language:
    print(letter)


for i in range(len(language)):
    print(language[i])

P
y
t
h
o
n
P
y
t
h
o
n

- Using For loop on tuple
```python
# syntax
for iterator in tpl:
    code goes here

In [ ]:
numbers = (0, 1, 2, 3, 4, 5)
for number in numbers:
        print(number)

0
1
2
3
4
5

- For loop with dictionary Looping through a dictionary gives you the key of the dictionary.
```python
  # syntax
for iterator in dct:
    code goes here

In [15]:
person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
for key in person:
    print(key)

for key, value in person.items():
    print(key, value)

first_name
last_name
age
country
is_marred
skills
address
first_name Asabeneh
last_name Yetayeh
age 250
country Finland
is_marred True
skills ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
address {'street': 'Space street', 'zipcode': '02210'}

- Using For Loop in set

```python
# syntax
for iterator in st:
    code goes here

In [19]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
for company in it_companies:
    print(company)

IBM
Facebook
Google
Apple
Microsoft
Oracle
Amazon

#### Break and Continue - Part 2

Short reminder: Break: We use break when we want to stop our loop before it is completed.

``` python
# syntax
for iterator in sequence:
    code goes here
    if condition:
        break

In [20]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)
    if number == 3:
        break

0
1
2
3

In the above example, the loop stops when it reaches 3.

Continue: We use continue when we want to skip some of the steps in the iteration of the loop.

```python
  # syntax
for iterator in sequence:
    code goes here
    if condition:
        continue

In [22]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)
    if number == 3:
        continue
    print('Next number should be ', number + 1) if number != 5 else print("loop's end") 
print('outside the loop')

0
Next number should be  1
1
Next number should be  2
2
Next number should be  3
3
4
Next number should be  5
5
loop's end
outside the loop

In the example above, if the number equals 3, the step after the condition (but inside the loop) is skipped and the execution of the loop continues if there are any iterations left.

#### The Range Function
The range() function is used to return a list of numbers. The range(start, end, step) takes three parameters: starting, ending and increment. By default it starts from 0 and the increment is 1. The range sequence needs at least 1 argument (end). Creating sequences using range

In [29]:
lst = list(range(11))
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
st = set(range(1, 11))    
print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [39]:
lst = list(range(0,11,2))
print(lst)

[0, 2, 4, 6, 8, 10]

In [32]:
st = set(range(0,11,2))
print(st)

{0, 2, 4, 6, 8, 10}

In [29]:
lst = list(range(11,0,-2))
print(lst)

[11, 9, 7, 5, 3, 1]

``` python
# syntax
for iterator in range(start, end, step):

In [34]:
for number in range(11):
    print(number)   # prints 0 to 10, not including 11

0
1
2
3
4
5
6
7
8
9
10

#### Nested For Loop
We can write loops inside a loop.

``` python
# syntax
for x in y:
    for t in x:
        print(t)

In [35]:
person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}
for key in person:
    if key == 'skills':
        for skill in person['skills']:
            print(skill)

JavaScript
React
Node
MongoDB
Python

#### For Else
If we want to execute some message when the loop ends, we use else.

```python
# syntax
for iterator in range(start, end, step):
    do something
else:
    print('The loop ended')

In [36]:
for number in range(11):
    print(number)   # prints 0 to 10, not including 11
else:
    print('The loop stops at', number)

0
1
2
3
4
5
6
7
8
9
10
The loop stops at 10

#### Pass
In python when statement is required (after semicolon), but we don't like to execute any code there, we can write the word pass to avoid errors. Also we can use it as a placeholder, for future statements.
```python
for number in range(6):
    pass

### Exercises

1. Iterate 0 to 10 using for loop, do the same using while loop.

In [3]:
for i in range(0, 11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [5]:
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

2. Iterate 10 to 0 using for loop, do the same using while loop.

In [13]:
for i in range(10, -1, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [17]:
i = 10
while i >=0:
    print(i)
    i = i -1

10
9
8
7
6
5
4
3
2
1
0

3. Write a loop that makes seven calls to print(), so we get on the output the following triangle:
    ```python
    #
    ##
    ###
    ####
    #####
    ######
    #######

In [2]:
for i in range(0, 8):
    print("#"*i)

#
##
###
####
#####
######
#######

4. Use nested loops to create the following:
``` python
    # # # # # # # #
    # # # # # # # #
    # # # # # # # #
    # # # # # # # #
    # # # # # # # #
    # # # # # # # #
    # # # # # # # #
    # # # # # # # #

In [9]:
for i in range(0, 8):
    for j in range(0, 8):
        print('#', end=' ')
    print()

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

In [12]:
n = 8
for i in range(0, n):
    print(" #"*n)

 # # # # # # # #
 # # # # # # # #
 # # # # # # # #
 # # # # # # # #
 # # # # # # # #
 # # # # # # # #
 # # # # # # # #
 # # # # # # # #

5. Print the following pattern:
``` python
    0 x 0 = 0  
    1 x 1 = 1  
    2 x 2 = 4  
    3 x 3 = 9  
    4 x 4 = 16  
    5 x 5 = 25  
    6 x 6 = 36  
    7 x 7 = 49  
    8 x 8 = 64  
    9 x 9 = 81  
    10 x 10 = 100

In [16]:
for i in range(11):
    print(f"{i} x {i} = {i*i}")

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

6. Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

In [17]:
list2= ['Python', 'Numpy','Pandas','Django', 'Flask']

for i in list2:
    print(i)

Python
Numpy
Pandas
Django
Flask

7. Use for loop to iterate from 0 to 100 and print only even numbers

In [19]:
for even_num in range(1, 101):
    if even_num % 2 == 0:
        print(even_num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

8. Use for loop to iterate from 0 to 100 and print only odd numbers

In [20]:
for odd_num in range(1, 100):
    if odd_num % 2 == 1:
        print(odd_num)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

9. Use for loop to iterate from 0 to 100 and print the sum of all numbers.  
The sum of all numbers is 5050.

In [22]:
result = 0
for i in range(0, 101):
    result = result + i
print(result)

5050

10. Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.  
The sum of all evens is 2550. And the sum of all odds is 2500.

In [24]:
sum_of_even = 0
sum_of_odd = 0

for i in range(0, 101):
    if i % 2 == 0:
        sum_of_even = sum_of_even + i
    else:
        sum_of_odd = sum_of_odd + i
print(sum_of_even)
print(sum_of_odd)

2550
2500

11. This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.

In [47]:
fruits = ['banana', 'orange', 'mango', 'lemon']

for i in range(len(fruits) - 1, -1, -1):
    print(fruits[i])

lemon
mango
orange
banana

12. Go to the data folder and use the countries.py file. Loop through the countries and extract all the countries containing the word land.

In [50]:
from countries import countries

for country in countries:
    if 'land' in country.lower():
        print(country)

Finland
Iceland
Ireland
Marshall Islands
Netherlands
New Zealand
Poland
Solomon Islands
Switzerland
Thailand

In [ ]:
paragraph = """ Ralph Kimball founded the Kimball Group. Since the mid-1980s, he has been the 
data warehouse and business intelligence industry’s thought leader on the dimen
sional approach. He has educated tens of thousands of IT professionals. The Toolkit 
books written by Ralph and his colleagues have been the industry’s best sellers 
since 1996. Prior to working at Metaphor and founding Red Brick Systems, Ralph 
coinvented the Star workstation, the first commercial product with windows, icons, 
and a mouse, at Xerox’s Palo Alto Research Center (PARC). Ralph has a PhD in 
electrical engineering from Stanford University """

count = 0
list1 = paragraph.lower().split()

for words in list1:
    if words == 'the':
        count = count + 1
print(count)

8

13. You are given a list of integers that is already sorted in ascending order. Write a program to insert a given number into the list such that the list remains sorted after insertion.
    ``` python
    List = [5, 18, 77, 108, 930]
    Number to insert = 100

In [ ]:
List1 = [5, 18, 77, 108, 930]
Number_to_insert = 100

List1.append(Number_to_insert)
List1.sort()
print(List1)

[5, 18, 77, 100, 108, 930]

In [76]:
List1 = [5, 18, 77, 108, 930]
Number_to_insert = 100

for i in range(len(List1)):
    if Number_to_insert < List1[i]:
        List1.insert(i, Number_to_insert)
        break
else:
    List1.append(Number_to_insert)

print(List1)

[5, 18, 77, 100, 108, 930]

14. Create a calculator

In [21]:
result = float(input("Enter first number: "))

while True:
    op = input("Enter operation (+, -, *, /) or = to finish: ")

    if op == "=":
        print("Final Result:", result)
        break

    num = float(input("Enter next number: "))

    if op == "+":
        result = result + num
    elif op == "-":
        result = result - num
    elif op == "*":
        result = result * num
    elif op == "/":
        if num == 0:
            print("Cannot divide by zero")
        else:
            result = result / num
    else:
        print("Invalid operation")

    print("Current Result:", result)

Current Result: 10.0
Current Result: 12.0
Final Result: 12.0

15. Print numbers from 10 to 1 using a loop.

In [1]:
for num in range(10, 0, -1):
    print(num)

10
9
8
7
6
5
4
3
2
1

16. Print all even numbers between 1 and 50.

In [ ]:
for even_num in range(2, 51, 2):
    print(even_num)

In [ ]:
for even_num in range(1, 51):
    if even_num % 2 == 0:
        print(even_num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

17. Take a number n and print its multiplication table.

In [13]:
n = 4
for i in range(1, 11):
    print(n, "x", i, "=", n * i)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

18. Count how many digits are in a number.

In [23]:
num = 1234
count = 0

while num > 0:
    count = count + 1
    num = num // 10

print(count)

4

19. Reverse a number using a loop.

In [ ]:
num = 12345
rev_num = 0
while num > 0:
    digit = num % 10
    rev_num = rev_num * 10 + digit
    num = num // 10
print(rev_num)

54321

20. Print all characters of a string except vowels.

In [45]:
name = 'aniket'
vowels = ['a', 'e', 'i', 'o', 'u']

for i in name:
    if i not in vowels:
        print(i, end="")

nkt

21. Find the largest number in a list using a loop.

In [50]:
nums = [14, 64164, 9191, 917, 91709, 6156]

largest = nums[0]
for num in nums:
    if num > largest:
        largest = num
print(largest)

91709

22. Count how many times 5 appears in a list.

In [60]:
list1 = [1,5,35,4,8,63,5,4,8,9,5,4,8,2]

count = 0
for i in list1:
    if i == 5:
        count = count+ 1
print(count)

3

23. Keep taking input until the user enters 0.

In [64]:
while True:
    a = input("Enter the input: ")
    print(a)
    if a == '0':
        break

1
d
55
0

24. Check if a number is prime using a loop.

In [80]:
num = int(input("Enter the num: "))

count = 0
if num <= 1:
    print("Not prime")
else:
    for i in range(2, num):
        if num % i == 0:
            count = count + 1
    if count == 0:
        print("Prime")
    else:
        print("Not prime")

Prime

### Star Patterns

In [ ]:
n = 5
for j in range(n):
    for i in range(0 , n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n = 5

for i in range(n):
    print('* '*n)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n = 5
for i in range(n):
    for j in range(i+1):
        print("*", end="")
    print()

*
**
***
****
*****

In [ ]:
n = 5
for i in range(n+1):
    print('*'*i)

*
**
***
****
*****

In [ ]:
n = 5
for i in range(n):
    for j in range(i, n):
        print("*", end="")
    print()

*****
****
***
**
*

In [ ]:
n = 5

for i in range(n, 0, -1):
    print("*"*i)

*****
****
***
**
*

In [ ]:
n = 5
for i in range(n):
    for j in range(i,n):
        print(" ", end="")
    for k in range(i+1):
        print("*", end="")
    print()

     *
    **
   ***
  ****
 *****

In [ ]:
n = 5

for i in range(0, n+1):
    print(" "*(n-i) + "*"*i)

    *
   **
  ***
 ****
*****

In [ ]:
n = 5
for i in range(n):
    for j in range(i+1):
        print(" ",end="")
    for k in range(i,n):
        print("*", end="")
    print()

 *****
  ****
   ***
    **
     *

In [ ]:
n = 5

for i in range(n, 0, -1):
    print(" "*(n-i) + '*'*i)

*****
 ****
  ***
   **
    *

In [ ]:
n = 5
for i in range(n):
    for j in range(i,n):
        print(" ", end="")
    for k in range(i):
        print("*",end="")
    for l in range(i+1):
        print("*", end="")
    print()

     *
    ***
   *****
  *******
 *********

In [ ]:
n = 5 
for i in range(n):
    print(" "*(n - i) + "*"*(2*i + 1))

     *
    ***
   *****
  *******
 *********

In [ ]:
n = 5
for i in range(n):
    for j in range(i+1):
        print(" ", end="")
    for k in range(i,n-1):
        print("*", end="")
    for l in range(i,n):
        print("*", end="")
    print()

 *********
  *******
   *****
    ***
     *

In [ ]:
n = 5
for i in range(n, 0, -1):
    print(" "*(n-i) + "*" * (i * 2 - 1))

*********
 *******
  *****
   ***
    *

In [ ]:
n = 5
for i in range(n-1):
    for j in range(i,n):
        print(" ", end="")
    for k in range(i):
        print("*", end="")
    for l in range(i+1):
        print("*", end="")
    print()

for i in range(n):
    for j in range(i+1):
        print(" ", end="")
    for k in range(i,n-1):
        print("*", end="")
    for l in range(i,n):
        print("*", end="")
    print()

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [ ]:
n = 5

for i in range(0, n):
    print(" "*(n-i) + "*"*(i*2-1))

for i in range(n, 0, -1):
    print(" "*(n-i) + "*"*(i*2-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *