### Loops

Life is full of routines. In programming we also do lots of repetitive tasks. In order to handle repetitive task programming languages use loops. Python programming language also provides the following types of two loops:

- while loop  
- for loop  

#### While Loop

We use the reserved word while to make a while loop. It is used to execute a block of statements repeatedly until a given condition is satisfied. When the condition becomes false, the lines of code after the loop will be continued to be executed.

```python
# syntax
while condition:
    code goes here

In [1]:
count = 0
while count < 5:
    print(count)
    count = count + 1
#prints from 0 to 4

0
1
2
3
4

In the above while loop, the condition becomes false when count is 5. That is when the loop stops. If we are interested to run block of code once the condition is no longer true, we can use else.

```python
  # syntax
while condition:
    code goes here
else:
    code goes here

In [4]:
count = 0
while count < 5:
    print(count)
    count = count + 1
else:
    print(count)

0
1
2
3
4
5

The above loop condition will be false when count is 5 and the loop stops, and execution starts the else statement. As a result 5 will be printed.

#### Break and Continue - Part 1
- Break: We use break when we like to get out of or stop the loop.

``` Python
# syntax
while condition:
    code goes here
    if another_condition:
        break

In [5]:
count = 0
while count < 5:
    print(count)
    count = count + 1
    if count == 3:
        break

0
1
2

The above while loop only prints 0, 1, 2, but when it reaches 3 it stops.

- Continue: With the continue statement we can skip the current iteration, and continue with the next:

``` python
  # syntax
while condition:
    code goes here
    if another_condition:
        continue

In [6]:
count = 0
while count < 5:
    if count == 3:
        count += 1
        continue
    print(count)
    count = count + 1

0
1
2
4

The above while loop only prints 0, 1, 2 and 4 (skips 3).

#### For Loop

A for keyword is used to make a for loop, similar with other programming languages, but with some syntax differences. Loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

- Using For loop on list

``` python
# syntax
for iterator in lst:
    code goes here

In [7]:
numbers = [0, 1, 2, 3, 4, 5]
for number in numbers:
    print(number)

0
1
2
3
4
5

- Using For loop on string
```python
# syntax
for iterator in string:
    code goes here

In [16]:
language = 'Python'
for letter in language:
    print(letter)


for i in range(len(language)):
    print(language[i])

P
y
t
h
o
n
P
y
t
h
o
n

- Using For loop on tuple
```python
# syntax
for iterator in tpl:
    code goes here

In [17]:
numbers = (0, 1, 2, 3, 4, 5)
for number in numbers:
    print(number)

0
1
2
3
4
5

- For loop with dictionary Looping through a dictionary gives you the key of the dictionary.
```python
  # syntax
for iterator in dct:
    code goes here

In [18]:
person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
for key in person:
    print(key)

for key, value in person.items():
    print(key, value)

first_name
last_name
age
country
is_marred
skills
address
first_name Asabeneh
last_name Yetayeh
age 250
country Finland
is_marred True
skills ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
address {'street': 'Space street', 'zipcode': '02210'}

- Using For Loop in set

```python
# syntax
for iterator in st:
    code goes here

In [19]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
for company in it_companies:
    print(company)

IBM
Facebook
Google
Apple
Microsoft
Oracle
Amazon

#### Break and Continue - Part 2

Short reminder: Break: We use break when we want to stop our loop before it is completed.

``` python
# syntax
for iterator in sequence:
    code goes here
    if condition:
        break

In [20]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)
    if number == 3:
        break

0
1
2
3

In the above example, the loop stops when it reaches 3.

Continue: We use continue when we want to skip some of the steps in the iteration of the loop.

```python
  # syntax
for iterator in sequence:
    code goes here
    if condition:
        continue

In [22]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)
    if number == 3:
        continue
    print('Next number should be ', number + 1) if number != 5 else print("loop's end") 
print('outside the loop')

0
Next number should be  1
1
Next number should be  2
2
Next number should be  3
3
4
Next number should be  5
5
loop's end
outside the loop

In the example above, if the number equals 3, the step after the condition (but inside the loop) is skipped and the execution of the loop continues if there are any iterations left.

#### The Range Function
The range() function is used to return a list of numbers. The range(start, end, step) takes three parameters: starting, ending and increment. By default it starts from 0 and the increment is 1. The range sequence needs at least 1 argument (end). Creating sequences using range

In [29]:
lst = list(range(11))
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
st = set(range(1, 11))    
print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [31]:
lst = list(range(0,11,2))
print(lst)

[0, 2, 4, 6, 8, 10]

In [32]:
st = set(range(0,11,2))
print(st)

{0, 2, 4, 6, 8, 10}

In [33]:
lst = list(range(11,0,-2))
print(lst)

[11, 9, 7, 5, 3, 1]

``` python
# syntax
for iterator in range(start, end, step):

In [34]:
for number in range(11):
    print(number)   # prints 0 to 10, not including 11

0
1
2
3
4
5
6
7
8
9
10

#### Nested For Loop
We can write loops inside a loop.

``` python
# syntax
for x in y:
    for t in x:
        print(t)

In [35]:
person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}
for key in person:
    if key == 'skills':
        for skill in person['skills']:
            print(skill)

JavaScript
React
Node
MongoDB
Python

#### For Else
If we want to execute some message when the loop ends, we use else.

```python
# syntax
for iterator in range(start, end, step):
    do something
else:
    print('The loop ended')

In [36]:
for number in range(11):
    print(number)   # prints 0 to 10, not including 11
else:
    print('The loop stops at', number)

0
1
2
3
4
5
6
7
8
9
10
The loop stops at 10

#### Pass
In python when statement is required (after semicolon), but we don't like to execute any code there, we can write the word pass to avoid errors. Also we can use it as a placeholder, for future statements.
```python
for number in range(6):
    pass

### Exercises

1. Iterate 0 to 10 using for loop, do the same using while loop.

2. Iterate 10 to 0 using for loop, do the same using while loop.

3. Write a loop that makes seven calls to print(), so we get on the output the following triangle:
    ```python
    #
    ##
    ###
    ####
    #####
    ######
    #######

In [49]:
for i in range(8):
    print(i*"#")

#
##
###
####
#####
######
#######

4. Use nested loops to create the following:
``` python
    # # # # # # # #
    # # # # # # # #
    # # # # # # # #
    # # # # # # # #
    # # # # # # # #
    # # # # # # # #
    # # # # # # # #
    # # # # # # # #

5. Print the following pattern:
``` python
    0 x 0 = 0  
    1 x 1 = 1  
    2 x 2 = 4  
    3 x 3 = 9  
    4 x 4 = 16  
    5 x 5 = 25  
    6 x 6 = 36  
    7 x 7 = 49  
    8 x 8 = 64  
    9 x 9 = 81  
    10 x 10 = 100

6. Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

7. Use for loop to iterate from 0 to 100 and print only even numbers

8. Use for loop to iterate from 0 to 100 and print only odd numbers

9. Use for loop to iterate from 0 to 100 and print the sum of all numbers.  
The sum of all numbers is 5050.

10. Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.  
The sum of all evens is 2550. And the sum of all odds is 2500.

11. This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.

12. Go to the data folder and use the countries.py file. Loop through the countries and extract all the countries containing the word land.

13. Go to the data folder and use the countries_data.py file.
    1. What are the total number of languages in the data
    2. Find the ten most spoken languages from the data
    3. Find the 10 most populated countries in the world

In [85]:
paragraph = """ Ralph Kimball founded the Kimball Group. Since the mid-1980s, he has been the 
data warehouse and business intelligence industry’s thought leader on the dimen
sional approach. He has educated tens of thousands of IT professionals. The Toolkit 
books written by Ralph and his colleagues have been the industry’s best sellers 
since 1996. Prior to working at Metaphor and founding Red Brick Systems, Ralph 
coinvented the Star workstation, the fi rst commercial product with windows, icons, 
and a mouse, at Xerox’s Palo Alto Research Center (PARC). Ralph has a PhD in 
electrical engineering from Stanford University """

count = 0
list1 = paragraph.lower().split()

for words in list1:
    if words == 'the':
        count = count + 1
print(count)

8

### Star Patterns

In [86]:
n = 5
for j in range(n):
    for i in range(0 , n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [87]:
n = 5 
for i in range(n):
    for j in range(i+1):
        print("*", end="")
    print()

*
**
***
****
*****

In [88]:
n = 5
for i in range(n):
    for j in range(i, n):
        print("*", end="")
    print()

*****
****
***
**
*

In [89]:
n = 5
for i in range(n):
    for j in range(i,n):
        print(" ", end="")
    for k in range(i+1):
        print("*", end="")
    print()

     *
    **
   ***
  ****
 *****

In [90]:
n = 5
for i in range(n):
    for j in range(i+1):
        print(" ",end="")
    for k in range(i,n):
        print("*", end="")
    print()

 *****
  ****
   ***
    **
     *

In [91]:
n = 5
for i in range(n):
    for j in range(i,n):
        print(" ", end="")
    for k in range(i):
        print("*",end="")
    for l in range(i+1):
        print("*", end="")
    print()

     *
    ***
   *****
  *******
 *********

In [92]:
n = 5
for i in range(n):
    for j in range(i+1):
        print(" ", end="")
    for k in range(i,n-1):
        print("*", end="")
    for l in range(i,n):
        print("*", end="")
    print()

 *********
  *******
   *****
    ***
     *

In [93]:
n = 5
for i in range(n-1):
    for j in range(i,n):
        print(" ", end="")
    for k in range(i):
        print("*", end="")
    for l in range(i+1):
        print("*", end="")
    print()

for i in range(n):
    for j in range(i+1):
        print(" ", end="")
    for k in range(i,n-1):
        print("*", end="")
    for l in range(i,n):
        print("*", end="")
    print()

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *